

/*  user single data ------------css --------- */

.hoverProductDiv:hover{
     transition: box-shadow .1s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}




/*  responsive of filter div----------------------- */
.hoverProductDiv{
    margin: auto;
}
@media  (min-width: 300px) and (max-width: 480px)  {
        .hoverFilterMainBox{
            display: none;
            
        }
        .hoverProductDiv{
            margin-left: -45px;
        }
}
/*  hiding filter div --------------------------------------------------- */

